@import "common.less";

.logo {
  height: @logo-size;
  width: @logo-size;
  float: left;
  margin-right: @default-spacing-third;
}

.headerBar {
  overflow: auto;
  padding: @default-spacing-third;
  background-color: @foreground-colour;
}

.title {
  float: left;
  color: @logo-colour;
  line-height: @logo-size;
  font-weight: bold;
  font-size: 17px;
}