@import "common.less";

.logo {
  height: @logo-size;
  width: @logo-size;
}

.headerBar {
  height: @logo-size + @default-spacing-third * 2;
  padding: @default-spacing-third;
  background-color: #d4ca70;
}