.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-item {
  background-color: #c6bcb6;
  height: 30px;
  margin: 10px;
  width: 33%;
  text-align: center;
  line-height: 30px;
}

body {
  margin: 0;
}

html {
  min-height: 100%;
  background-color: #96897f;
}