@import "common.less";

body {
  margin: 0;
}

html {
  min-height: 100%;
  background-image: svg-gradient(to bottom right, #001133, #001a4d 30%, #002b80);
}

* {
  box-sizing: border-box;
  color: white;
}

.view {
  padding: @default-spacing;
}