@import "common.less";

* {
  box-sizing: border-box;
}

button, body {
  background-color: transparent !important;
}

a {
  display: block;

  &:hover {
    cursor: pointer !important;
    text-decoration: none !important;
  }
}