@import "common.less";

.tile {
  height: @tile-size;
  width: @tile-size;
  margin: @default-spacing-half;
  float: left;
  border: 2px solid @foreground-colour;
  color: @foreground-colour;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  &:hover {
    color: @background-colour;
    background-color: @foreground-colour;

    & .tile-glyphicon {
      font-size: 60px;
    }

    & .tile-caption {
      font-size: 23px;
    }
  }
}

.tile-caption {
  margin-top: @default-spacing;
  font-size: 19px;
}

.tile-glyphicon {
  font-size: 50px;
}