@import "common.less";

.tile {
  height: @tile-size;
  width: @tile-size;
  margin: @default-spacing;
  float: left;
  border: 2px solid @foreground-colour;
  color: @foreground-colour;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.tile-caption {
  margin-top: @default-spacing;
  font-size: 20px;
}

.tile-glyphicon {
  font-size: 70px;
}